<div class="card">
    <div class="card-body">
        <div class="m-sm-3">
            <form [formGroup] = "showResults" >
                <div class="mb-3">
                    <label class="form-label">Full name</label>
                    <input class="form-control form-control-lg" type="text" name="name" placeholder="Enter your name"
                        formControlName="search" />
                        <br><br>
                    <button class="btn btn-secondary" (click)="searchArt()">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="min"></div>
<div class="main container-fluid d-flex flex-direction-column flex-wrap m-auto" id="main">
    
    <div *ngFor="let item of artData" class="card" style="width: 14rem;margin-left :2vh">

        <div class="card-body">
            <img src="https://www.artic.edu/iiif/2/{{item.image_id}}/full/300,/0/default.jpg" width="200vh" height="200vh">
            <h3 class="card-title">{{item.title}}</h3>

            <br>

            <p class="card-text">
                Artist Name: {{item.id.artist_title}}</p>
            <br>
            <a class="btn btn-primary" style="position:absolute;bottom:0;left:8px;" (click)="toDetails(item.id)">Info</a>
            <a class="btn btn-danger" style="position: absolute;bottom: 0;right:8px;border-radius: 100%;"
                (click)="toFav(item.id)"><i class="fa-regular fa-heart"></i></a>
                

        </div>