<h1 class="text-center" style="background-color:whitesmoke;"><u>FAVOURITE</u></h1>
<hr style="background-color: olive;">
<div class="main container-fluid d-flex flex-direction-column flex-wrap m-auto">
    <div *ngFor="let item of artData" class="card" style="width: 14rem;margin-left :2vh">
        <img class="card-img-top" src="https://www.artic.edu/iiif/2/{{
            item?.image_id
          }}/full/350,/0/default.jpg" alt="Card image cap" width="24vh" height="200vh">

        <div class="card-body">
            <h3 class="card-title">{{item.title}}</h3>

            <br>

            <p class="card-text">Artist Name: {{item.artist_title}}</p>
            <br>


        </div>
    </div>
</div>