/* .container-fluid{
    background-image:"/Main_Background_Image.jpg" ;
} */
body {

    font-family: 'Edu TAS Beginner', cursive;
    /* background-color: beige; */
    width: 100%;
    height: max-content;
}

#carouselExample {
    width:80%;
    height: 90%;
    Border: 3px solid black;
    border-style: double;
    margin-bottom:20vh;
    margin-left:20vh;
    
}


.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background: purple;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}