<head>
</head>

<body class="container-fluid align-items-center">

    
    <!-- <div class="jumbotron jumbotron-fluid " style="background-color:blanchedalmond;">
        <div class="container-fluid">
            <h1 >Welcome Amigos!</h1>
            <p class="lead">Our collection features a diverse range of contemporary and traditional art from both local
                and international artists, showcasing their individual perspectives and styles. From striking paintings
                to intricate sculptures, there is something here for everyone to appreciate and admire. We hope you will
                enjoy exploring our exhibits and experiencing the beauty and creativity of our selected works. Thank you
                for visiting!</p>
            </div>
    </div> -->
    <div class="jumbotron">
        <h1 class="h2 text-center ">Hola Artists!</h1>
        <p class="lead text-center h4">Our collection features a diverse range of contemporary and traditional art from both local
            and international artists, showcasing their individual perspectives and styles. From striking paintings
            to intricate sculptures, there is something here for everyone to appreciate and admire.</p>
            <hr class="my-4">
           
            </div>
            <div id="carouselExample" class="carousel slide ">
        
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://cdn.exoticindia.com/images/products/original/paintings-2019/ldb397.jpg"
                            class="d-block w-100" style="width:140vh;height:90vh" alt="...">
                    </div>
                    <div class="carousel-item ">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGBECx35tWjYM3yg-GLABW0_OcdeZgJG-Syg&usqp=CAU"
                            class="d-block " style="width:140vh;height:90vh" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsaHb9GIiH27HMUGqK0JE-cONDnZH067rSuztqhcR53vIcOlMspEwJiHnftTy5VGHKFPA&usqp=CAU"
                            class="d-block w-100" style="width:140vh;height:90vh" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <p class="text-center h3">We hope you will
                enjoy exploring our exhibits and experiencing the beauty and creativity of our selected works. Thank you
                for visiting!</p>
                <p class="lead text-center">
                    <a class="btn btn-primary btn-lg .text-center"   routerLink="gridView" role="button">Explore More</a>
                </p>
</body>